@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Racunovodja</h1>
    <p class="lead">Aplikacija za obracun i evidenciju.</p>
    <p>@Html.ActionLink("Login", "Login", "Account",null ,  new { @class = "btn btn-primary btn-lg" })</p>  
</div>

